/* *means it will apply CSS to all the elements on the website
box-sizing: BorderBoxing ka bagair jab bhi hum element padding/margin ya border deta ha toh woh bhi width or height ma calculate hota ha lekin 
jab BOrder-boxing deta ha toh woh elemnt ki pading/margin or border ko width height ma nhi leta unko ignore karka height width set karta ha
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}
.gradient__text {
  background: var(--gradient-text);
  /*Background-clip starts the background from text means for eg if we select background-clip:pading-box then
  it will apply background from where padding is ending or if appky border-box so it will start background from where border is starting that is background clip*/
  background-clip: text;
  /*The term 'webkit' is used in the CSS syntax for rendering content in Safari and Chrome browsers. Webkit code may need to be added in CSS to ensure it renders correctly on Chrome and Safari due to the lack of cross-compatibility*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*Adding margin,padding between each section*/
.section__padding {
  padding: 4rem 6rem; /*2 argument apply padding to x and y axis (1st one apply to y) (second one apply to x) if you have to (apply only x of it then you have to set y to 0) because if you take only one argument than it will apply on all four sides*/
}
.section__margin {
  margin: 4rem 6rem;
}
/*This animation and code is genrated from animista.net*/
.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/**
 * ----------------------------------------
 * animation scale-up-center
 We will use this animation for every single-section
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*MediaQueries*/
/*For Middle size devices like tablets/ipads 
applicable on the devices with width less than 700 or equal to 700*/
@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }
  .section__margin {
    margin: 4rem;
  }
}

/*For mobile devices
applicable on the devices with width less than 550 or equal to 550 */
@media screen and (max-width: 550px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  .section__margin {
    margin: 4rem 2rem;
  }
}
